swww/.cache
waybar/.idea
waybar/nohup.out
waybar/waybar
ranger/plugins/__pycache__
Kvantum/Kvantum
alacritty/alacritty
bat/bat
bottom/bottom
btop/btop
cava/cava
cava/nohup.out
dunst/dunst
dunst/nohup.out
hypr/hypr
kitty/kitty
mako/mako
neofetch/neofetch
ranger/ranger
rofi/rofi
swappy/swappy
swaylock/swaylock
swww/swww
wlogout/wlogout
yazi/yazi
zathura/zathura
zellij/zellij
yazi/plugins
