include "binds.kdl"
include "rule.kdl"
include "output.kdl"
include "animation.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/cursor.kdl"

// include "dms/binds.kdl"
include "dms/wpblur.kdl"


input {
    focus-follows-mouse max-scroll-amount="0%"
}
environment {
    XMODIFIERS "@im=fcitx"
    QT_IM_MODULES "wayland;fcitx"
    GTK_IM_MODULE "fcitx"
    SDL_IM_MODULE "fcitx"
    GLFW_IM_MODULE "fcitx"
    XIM "fcitx"
    XIM_PROGRAM "fcitx"
    QS_ICON_THEME "Tela-circle-blue-dark"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_STYLE_OVERRIDE "kvantum"
    OZONE_PLATFORM "wayland"
    SDL_VIDEODRIVER "wayland"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    _JAVA_AWT_WM_NONEREPARENTING "1"
    MOZ_DISABLE_RDD_SANDBOX "1"
    DEBUGINFOD_URLS "https://debuginfod.archlinux.org"

}

// overview
recent-windows {
    // 取消//off的注释可以禁用
    // off
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        // 缩略图背景内间距
        padding 30
        // 缩略图的背景圆角
        corner-radius 12
    }

    previews {
        max-height 480
        max-scale 0.5
    }
}

layer-rule {
   match namespace="quickshell"
   place-within-backdrop true
}

layout {
    gaps 10
    background-color "transparent"
    center-focused-column "on-overflow"
    always-center-single-column
    focus-ring {
        width 3
    }
    border {
        off
        width 4
    }
    shadow {
        on
        softness 20
        spread 2
        offset x=-4 y=-4
        color "rgba(0, 0, 0, 0.7)"
    }
    struts {
    }
}

// Set the overview wallpaper on the backdrop.
// layer-rule {
//   match namespace="^noctalia-overview*"
//   place-within-backdrop true
// }

spawn-at-startup "~/.config/hypr/scripts/resetxdgportal.sh"
spawn-at-startup "dms" "run"
spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "dbus-update-activation-environment --systemd --all"
spawn-at-startup "systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "blueman-applet"
// spawn-at-startup "qs" "-c" "noctalia-shell"
// spawn-at-startup "dms" "run"
spawn-at-startup "nm-applet --indicator"
spawn-at-startup "fcitx5-remote -r"
spawn-at-startup "fcitx5 -d --replace &"
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "udiskie &"
// spawn-at-startup "kvantummanager --set Catppuccin-Mocha-Lavender"
// spawn-at-startup "gsettings set org.gnome.desktop.interface icon-theme 'Tela-circle-blue-dark'"
// spawn-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3'"
// spawn-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
// spawn-at-startup "gsettings set org.gnome.desktop.interface font-name 'JetBrainsMono Nerd Font 10'"
// spawn-at-startup "gsettings set org.gnome.desktop.interface document-font-name 'JetBrainsMono Nerd Font 10'"
// spawn-at-startup "gsettings set org.gnome.desktop.interface monospace-font-name 'JetBrainsMono Nerd Font Mono 9'"
// spawn-at-startup "gsettings set org.gnome.desktop.interface font-antialiasing 'rgba'"
// spawn-at-startup "gsettings set org.gnome.desktop.interface font-hinting 'full'"
// spawn-at-startup "gsettings set org.gnome.settings-daemon.plugins.xsettings overrides \"{'Gtk/IMModule':<'fcitx'>}\""

hotkey-overlay {
    skip-at-startup
}

//隐藏窗口标题栏
prefer-no-csd

overview {
    zoom 0.6
    workspace-shadow {
        off
    }
}
workspace "Browser" {}
workspace "Code" {}
workspace "Runner" {}
workspace "Docs" {}
workspace "Todo" {}
workspace "Chat" {}

window-rule {
    match title="Zen Browser"
    open-on-workspace "Browser"
    open-maximized true
}



window-rule {
    match title="QQ"
    match title="微信"
    match title="NetEase Cloud Music Gtk4"
    open-on-workspace "Chat"
    open-floating false
    open-focused true
    draw-border-with-background false
    background-effect {
        blur false
    }
}


// terminal rules
window-rule {
    match title="Xwayland"
    open-on-workspace "X"
}
window-rule {
    match app-id="foot"
    match app-id="kitty"
    match app-id="Alacritty"
    background-effect {
        blur false
    }
}

window-rule {
    match app-id="emacs"
    background-effect {
        blur false
    }
    opacity 0.95
}
window-rule {
    match app-id="scrcpy"
    background-effect {
        blur false
    }
    opacity 1.0
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    match app-id=r#"org.quickshell$"#
    open-floating true
    tiled-state true

}


debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

include "dms/cursor.kdl"

include "dms/windowrules.kdl"
